<div class="container text-center">
  <div class="row gap-3">
    <% @movies.each do |movie|%>
      <div class="col movie-container">
        <div class="image-container">
          <img src="<%=movie.poster_url%>" width="200px">
        </div>
        <h4><%= movie.title %></h4>
        <p><%= movie.overview %></p>
        <p>Delete movie</p>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <p class="mt-5 btn btn-submit"><%= link_to "Add Movie", new_list_bookmark_path(@list) %></p>
  <p class="mt-5 btn btn-submit"><%= link_to "Back", root_path %></p>
</div>
