<h1 class="text-center"><%= @list.name %></h1>

<div class="container">
  <% @movies.each do |movie|%>
    <div class="container">
      <div>
        <img src="<%=movie.poster_url%>" width="200px">
        <h4><%= movie.title %></h4>
        <p><%= movie.overview %></p>
      </div>
      <p>Delete movie</p>
    </div>
  <% end %>
</div>

<p><%= link_to "Bookamark", new_list_bookmark_path %></p>

<div class="container">
  <%= link_to "Back To the list", lists_path %>
</div>